/BraveSoftware
/Code
/Code - OSS
/GIMP
/JetBrains
/Kingsoft
/Microsoft
/Microsoft\\Teams\\-\\Preview
/Postman
/VSCodium
/VirtualBox
/WebCord
/astro
/atril
/autostart
/calibre
/cava
/cef_user_data
/composer
/dconf
/discord
/figma-linux
/flameshot
/google-chrome
/gtk-*
/heroic
/lazygit
/legendary
/libvirt
/lvim
/lvim.old
/menus
/microsoft-edge
/mimeapps.list
/mpv
/nemo
/neofetch
/nextjs-nodejs
/nvim.bak
/nwg-look
/obs-studio
/obsidian
/pavucontrol.ini
/pulse
/qt5ct
/remmina
/spotify
/spotify-tui
/spotifyd
/systemd
/unity3d
/user-dirs.dirs
/user-dirs.locale
/vlc
/xsettingsd
/yay
QtProject.conf
