/BraveSoftware
/Code
/GIMP
/Kingsoft
/Postman
/WebCord
/astro
/autostart
/cef_user_data
/dconf
/discord
/figma-linux
/flameshot
/google-chrome
/gtk-*
/heroic
/lazygit
/legendary
/libvirt
/mimeapps.list
/mpv
/nemo
/neofetch
/nvim.bak
/nwg-look
/obs-studio
/obsidian
/pavucontrol.ini
/pulse
/qt5ct
/spotify
/spotify-tui
/spotifyd
/systemd
/unity3d
/user-dirs.dirs
/user-dirs.locale
/vlc
/xsettingsd
/yay
