@import "macchiato.css";

* {
  font-family: Iosevka Nerd Font, Material Symbols Rounded;
  font-size: 14px;
  font-weight: bold;
}

window#waybar {
  background-color: @mantle;
  border-radius: 0;
}

#workspaces {
  padding: 0;
  margin-right: 8px;
}

#workspaces button {
  border-radius: 0;
  color: @pink;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.68);
}

#workspaces button.active {
  color: @surface0;
  background-color: @mauve;
}

#workspaces button:hover {
  color: @rosewater;
}

#cpu {
  background-color: @green;
}

#memory {
  background-color: @blue;
}

#clock {
  background-color: @lavender;
}

#network {
  background-color: @flamingo;
}

#pulseaudio {
  background-color: @pink;
}

#pulseaudio.muted {
  background-color: @red;
}

#cpu,
#memory,
#tray,
#network,
#clock,
#pulseaudio,
#custom-power {
  padding: 0 10px;
  color: @mantle;
}

tooltip {
  background: @base;
  border: 1px solid @pink;
}

tooltip label {
  color: @text;
}
